
.hero {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 32.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-royal {
    color: #000112;
    font-size: 1.25rem;
}

