
.navList {
    font-family: 'Parisienne', cursive;
    font-size: 1.75rem;
    color: #626326;
    font-weight: 500;
}

.navList li {
    padding: 1rem;
    border-bottom: 1px solid lightgray;
}

.navList li:first-of-type {
    background-color: #dab896;
    font-size: 2rem;
    color: white;
}

@media all and (min-width: 767px) {

}